<article
  className="job-listing-card"
  data-modalidad={job.data?.modalidad}
  data-nivel={job.data?.nivel}
  data-technology={job.data?.technology}
>
  <div>
    <a routerLink="/search" class="title">
      <h3>{{ job.titulo }}</h3>
    </a>
    <small>
      {{ job.empresa }} | {{ job.ubicacion }}
    </small>
    <p>{{ job.descripcion }}</p>
  </div>
  <div className={styles.actions}>
    <a routerLink="/search" className={styles.details}>
      Ver Detalles
    </a>  
    <button></button>
  </div>
</article>